
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('@Url.Content("~/img/about-bg.jpg")')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <hr class="small">
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <ul>
              <li>Completed grade twelve in 2016.
              </li>
            <li>
                Eager and willing to learn new things
            </li>
              <li>
                  Pursuing Software Developer at manitoba institute of trade and technology  
              </li>
              <li>
                  I have knowlwgde of HTML,CSS, Javascript and other coding languages.I also know how to work with bootstrap using MVC.
              </li>
              </ul>

           

        </div>
    </div>
</div>
<hr>