
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('@Url.Content("~/img/home-bg.jpg")')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Sukhdeep Sidhu</h1>
                    <hr class="small">
                    <span class="subheading">SOFTWARE DEVELOPER</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        
                    </h2>
                    <h3 class="post-subtitle">
                   
                    </h3>
                </a>
              
            </div>
           
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                       
                    </h2>
                </a>
             
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                      
                    </h2>
                    <h3 class="post-subtitle">
                      
                    </h3>
                </a>
              
            </div>
           <h3>Skills</h3>
           <ul>
               <li>Hard working</li>
               <li>Good Team Leader</li>
               <li>Problem Solver</li>
               <li>Multi-tasking</li>
           </ul>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                      
                    </h2>
                    <h3 class="post-subtitle">
                      
                    </h3>
                </a>
                
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                </li>
            </ul>
        </div>
    </div>
</div>