    <!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('@Url.Content("~/img/home-bg.jpg")')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                  <h1 class="head">My Resume</h1>
                  <p class="head">Please have a look!!.</p>
               
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <span class="meta">
                    <p>Please click on the button below to see my resume.</p>
                    <a class="resume" href="~/img/MyResume1.pdf" target="_blank"> <button class="myResume">Click Me </button></a>
                </span>
            </div>
        </div>
    </div>
</article>
<hr>

